@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Animaciones personalizadas para Alivia */
@keyframes pulse-red {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
.animate-sos {
  animation: pulse-red 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
